[package]
name = "graphene-core"
version = "0.1.0"
edition = "2024"
description = "API definitions for Graphene"
authors = ["Graphite Authors <contact@graphite.rs>"]
license = "MIT OR Apache-2.0"

[features]
default = ["serde"]
nightly = []
type_id_logging = []
wgpu = ["dep:wgpu"]
dealloc_nodes = []

[dependencies]
# Workspace dependencies
bytemuck = { workspace = true }
node-macro = { workspace = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true }
glam = { workspace = true }
serde_json = { workspace = true }
petgraph = { workspace = true }
rustc-hash = { workspace = true }
dyn-any = { workspace = true }
ctor = { workspace = true }
rand_chacha = { workspace = true }
specta = { workspace = true }
rustybuzz = { workspace = true }
image = { workspace = true }
half = { workspace = true }
tinyvec = { workspace = true }
log = { workspace = true }
base64 = { workspace = true }

# Optional workspace dependencies
serde = { workspace = true, optional = true }
wgpu = { workspace = true, optional = true }

[dev-dependencies]
# Workspace dependencies
tokio = { workspace = true }
serde_json = { workspace = true }

[lints.rust]
# the spirv target is not in the list of common cfgs so must be added manually
unexpected_cfgs = { level = "warn", check-cfg = [
	'cfg(target_arch, values("spirv"))',
] }
