[package]
name = "graphene-std"
version = "0.1.0"
edition = "2024"
description = "Graphene standard library"
authors = ["Graphite Authors <contact@graphite.rs>"]
license = "MIT OR Apache-2.0"

[features]
default = ["wasm"]
gpu = []
wgpu = ["gpu", "graph-craft/wgpu", "graphene-application-io/wgpu"]
wasm = [
	"wasm-bindgen",
	"wasm-bindgen-futures",
	"web-sys",
	"graphene-application-io/wasm",
	"image/png",
]
image-compare = []
vello = ["dep:vello", "gpu"]
resvg = []
wayland = ["graph-craft/wayland"]

[dependencies]
# Local dependencies
dyn-any = { workspace = true }
graph-craft = { workspace = true }
wgpu-executor = { workspace = true }
graphene-core = { workspace = true }
graphene-path-bool = { workspace = true }
graphene-math-nodes = { workspace = true }
graphene-svg-renderer = { workspace = true }
graphene-application-io = { workspace = true }
graphene-element = { workspace = true }
graphene-element-nodes = { workspace = true }
graphene-raster = { workspace = true }
graphene-raster-nodes = { workspace = true }
graphene-vector = { workspace = true }
graphene-vector-nodes = { workspace = true }
graphene-brush = { workspace = true }
graphene-text = { workspace = true }

# Workspace dependencies
fastnoise-lite = { workspace = true }
log = { workspace = true }
glam = { workspace = true }
node-macro = { workspace = true }
reqwest = { workspace = true }
futures = { workspace = true }
rand_chacha = { workspace = true }
rand = { workspace = true }
bytemuck = { workspace = true }
image = { workspace = true }
base64 = { workspace = true }

# Optional workspace dependencies
wasm-bindgen = { workspace = true, optional = true }
wasm-bindgen-futures = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
vello = { workspace = true, optional = true }
web-sys = { workspace = true, optional = true, features = [
	"Window",
	"CanvasRenderingContext2d",
	"ImageData",
	"Document",
	"Navigator",
	"Gpu",
	"HtmlCanvasElement",
	"HtmlImageElement",
	"ImageBitmapRenderingContext",
] }

[dev-dependencies]
tokio = { workspace = true }
