@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.loading-data:empty::after {
	content: "(loading...)";
	font-style: italic;
	opacity: 0;
	animation: fadeInAfterWait 2s ease-in 2s forwards;

	@keyframes fadeInAfterWait {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}

#core-team {
	background-color: var(--color-parchment);
	background-blend-mode: color-burn;

	h2 {
		font-weight: 700;
		text-align: center;
		width: 100%;
	}

	h2 + p {
		text-align: center;
		width: 100%;
		margin-top: 4px;
		opacity: 0.75;
	}

	h2 + p + p {
		text-align: center;
	}

	.flag {
		font-family: "Noto Color Emoji", sans-serif;
		vertical-align: middle;
		font-size: 1.5em;
		margin-left: 0.25em;
		cursor: default;
	}

	.block {
		align-items: center;
	}

	img {
		max-width: Min(100%, 480px);
	}
}
