#article {
	max-width: 800px;

	.details {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.publication {
			font-weight: 800;
		}

		.banner {
			margin-top: 0;
			display: block;
			width: 100%;
			height: auto;
		}
	}

	hr {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	article {
		h1,
		h2,
		h3 {
			font-family: "Inter", sans-serif;
			line-height: 1.5;
			font-weight: 800;
		}

		h1 {
			font-size: var(--font-size-article-h1);
		}

		h2 {
			font-size: var(--font-size-article-h2);
		}

		h3 {
			font-size: var(--font-size-article-h3);
		}
	}

	.social {
		width: 100%;
		display: flex;
		gap: calc(var(--font-size-link) * 0.8);
		flex-wrap: wrap;
		justify-content: center;
	}
}
