.page {
	// Prevents horizontal scrollbars from appearing on the page.
	// This happens because of the masked (but not overflow: hidden) carousel images.
	overflow: hidden;
}

.hexagons {
	max-width: var(--max-width);
	margin: auto;
	position: relative;
	bottom: calc(-80 * var(--variable-px));

	div {
		position: absolute;
		top: 0;
		right: 10%;

		svg {
			position: absolute;
			margin: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: translate(-50%) rotate(347deg);
			opacity: 0.25;
			--hexagon-max-size: 1100;
			--mexagon-min-size: 900;
			--hexagon-shrink-start-viewport-width: 1640;
			width: Max(
				Min(
					calc(var(--hexagon-max-size) * 1px),
					calc(var(--hexagon-max-size) / var(--hexagon-shrink-start-viewport-width) * 100vw)
				),
				calc(var(--mexagon-min-size) * 1px)
			);
			height: auto;

			polygon {
				fill: none;
				stroke: #aaa;
				stroke-width: 1px;
			}
		}
	}
}

// ▛ LOGO ▜
#logo {
	display: flex;

	img {
		width: auto;
		max-width: 100%;
		max-height: 160px;
	}
}
// ▙ LOGO ▟

// ▛ TAGLINE ▜
#tagline {
	p {
		font-size: calc((10 / 9) * var(--font-size-body));

		@media screen and (max-width: 1400px) {
			max-width: unset !important;
		}
	}
}
// ▙ TAGLINE ▟

// ▛ QUICK LINKS ▜
#quick-links {
	margin-top: calc(40 * var(--variable-px));
	gap: calc(var(--font-size-link) * 0.8) calc(var(--font-size-link) * 0.8 * 2);

	&,
	.social-media-buttons,
	.call-to-action-buttons {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.social-media-buttons,
	.call-to-action-buttons {
		gap: calc(var(--font-size-link) * 0.8);
	}

	.social-media-buttons img {
		width: calc(var(--font-size-link) * 2);
		display: block;
	}

	.call-to-action-buttons .github-stars {
		display: inline-flex;
		padding-left: calc(var(--font-size-link) / 2);
		padding-right: 0;

		img {
			margin: auto;
			width: calc(var(--font-size-link) * 4 / 3);
			height: calc(var(--font-size-link) * 4 / 3);
		}

		span {
			margin: auto calc(var(--font-size-link) / 2);
		}

		div {
			background: var(--color-fog);
			padding: 0 calc(var(--font-size-link) / 2);
			border-left: var(--border-thickness) solid var(--color-crimson);

			&:empty {
				display: none;
			}
		}
	}

	// Hide all these buttons while waiting for the number of stars to be fetched.
	// Otherwise the width of the star count will cause a jump upon loading with the layout of all subsequent buttons changing.
	// If it fails to load, the div will be removed, allowing the buttons to be displayed (with the star count omitted).
	&:has(.github-stars div:empty) {
		visibility: hidden;
	}
}
// ▙ QUICK LINKS ▟

// ▛ SCREENSHOTS ▜
// ▙ SCREENSHOTS ▟

// ▛ TODAY AND TOMORROW ▜
// ▙ TODAY AND TOMORROW ▟

// ▛ DISCIPLINES ▜
#disciplines .section {
	align-items: center;

	.informational-group .informational {
		margin-top: 40px;
	}
}
// ▙ DISCIPLINES ▟

// ▛ NEWSLETTER ▜
#newsletter {
	background-color: var(--color-mustard);
	position: relative;

	#newsletter-success {
		position: absolute;
		top: 0;

		&:not(:target) ~ .box .diptych .newsletter-success,
		&:target ~ .box .diptych form {
			display: none;
		}
	}

	.diptych {
		justify-content: center;

		.newsletter-signup {
			min-width: 360px;
			
			.newsletter-success {
				margin-top: 40px;
				padding: 40px;
				width: 100%;
				box-sizing: border-box;
				background: var(--color-ale);
				border: 2px solid var(--color-navy);

				h2 {
					font-family: "Inter", sans-serif;
					line-height: 1.5;
					font-weight: 800;
					font-size: var(--font-size-article-h2);
				}
			}


			form {
				width: 100%;
				margin-top: 40px;
				display: flex;
				gap: 20px;
				flex-wrap: wrap;

				.same-line {
					display: flex;
					gap: 20px;
					flex: 100000 1 0;
					flex-wrap: wrap;
					min-width: Min(100%, 700px);

					div {
						min-height: auto;
					}
				}

				.column {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					--input-focus-color: var(--color-ale);

					&.name {
						flex: 1 0 0;
						min-width: 240px;
					}

					&.phone {
						display: none;
					}

					&.email {
						flex: 1 0 0;
						min-width: 240px;
					}

					@media screen and (max-width: 400px) {
						&.name,
						&.email {
							min-width: 100%;
						}
					}

					&.submit {
						flex: 1 0 auto;
					}

					label,
					input {
						flex: 0 0 auto;
					}

					label {
						font-size: var(--font-size-link);
						font-weight: 800;
						margin-bottom: 10px;
						line-height: 1;
					}

					input:not([type="submit"]) {
						flex: 0 0 auto;
						width: 100%;
						height: calc(var(--font-size-link) * 2);
						font-size: calc(var(--font-size-link) * 0.9);
						color: inherit;
						border: var(--border-thickness) solid currentColor;
						border-radius: 0; // Required for iOS Safari
						outline: none;
						margin: 0;
						padding: 0 var(--font-size-link);
						font-family: inherit;
						font-weight: inherit;
						box-sizing: border-box;

						&:focus {
							border-color: var(--input-focus-color);
						}
					}

					input[type="submit"] {
						background: none;
						outline: none;
						cursor: pointer;
						border-radius: 0; // Required for iOS Safari

						&:focus {
							border-color: var(--input-focus-color);
							color: var(--input-focus-color);
						}
					}
				}
			}
		}

		.social-media-links {
			display: flex;
			flex: 0 1 fit-content;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 20px 80px;
			min-width: 0;

			a {
				text-decoration: none;
				display: flex;

				img {
					width: 48px;
					height: 48px;
				}

				span {
					line-height: 48px;
					margin: 0;
					margin-left: 20px;
				}
			}
		}
	}
}
// ▙ NEWSLETTER ▟

// ▛ JUMP RIGHT IN ▜
// #jump-right-in {
// 	max-width: 1000px;

// 	.section {
// 		align-items: center;
// 	}
// }
// ▙ JUMP RIGHT IN ▟

// ▛ PROCEDURALISM ▜
#proceduralism .section,
#proceduralism-demo .section,
#proceduralism-features .section {
	align-items: center;
}
// ▙ PROCEDURALISM ▟

// ▛ FUNDRAISING ▜
#fundraising {
	background-color: var(--color-lime);

	.graphic {
		max-width: 400px;
	}
}
// ▙ FUNDRAISING ▟

// ▛ VECTOR ART ▜
#vector-art {
	.section {
		align-items: center;
	}
}
// ▙ VECTOR ART ▟

// ▛ IMAGINATE ▜
// #imaginate {
// 	> .section {
// 		align-items: center;

// 		h1 {
// 			text-align: center;

// 			.alternating-text {
// 				position: relative;

// 				span {
// 					// Move left by half (since it's centered) the average (half the 74px difference) of the variance in word lengths
// 					margin-left: calc(-1.54em / 2 / 2);
// 					opacity: 0;
// 					$alternate-duration: 15s;
// 					$alternate-words: 5;
// 					animation: $alternate-duration infinite linear 0s fade-word;

// 					// The 1st child is the widest
// 					&:not(:nth-child(1)) {
// 						position: absolute;
// 						right: 0;
// 					}

// 					@for $i from 1 through $alternate-words {
// 						&:nth-child(#{$i}) {
// 							animation-delay: ($alternate-duration / $alternate-words * ($i - 1));
// 						}
// 					}

// 					@keyframes fade-word {
// 						// Fade in at the start (which begins staggered on each item by `animation-delay`)
// 						#{0.0%} { opacity: 0; }
// 						#{2.5%} { opacity: 1; }
// 						// Remain visible for this item's slice of time, then fade out
// 						#{0.0% + 100% / ($alternate-words + 1)} { opacity: 1; }
// 						#{2.5% + 100% / ($alternate-words + 1)} { opacity: 0; }
// 					}
// 				}
// 			}
// 		}
// 	}

// 	> .diptych {
// 		margin-top: calc(80 * var(--variable-px));

// 		.section {
// 			align-items: center;

// 			h2 {
// 				text-align: center;
// 			}
// 		}
// 	}

// 	// #imaginate-creative-concepts-carousel {
// 	// 	margin-top: 20px;

// 	// 	.screenshot-details {
// 	// 		justify-content: center;
// 	// 	}

// 	// 	+ blockquote {
// 	// 		margin-top: 0;
// 	// 	}
// 	// }
// }
// ▙ IMAGINATE ▟

// ▛ DEMO VIDEO ▜
#demo-video {
	max-width: 1000px;
}
// ▙ DEMO VIDEO ▟
