.creative-contributions,
.code-contributions {
	gap: 0 calc(80* var(--variable-px));

	.button.button.button {
		height: auto;
		text-align: left;
		white-space: normal;
	}
}

.code-contributions .info-box {
	background-color: var(--color-seaside);
}

.creative-contributions .info-box {
	background-color: var(--color-lemon);
}

.info-box > img:first-child,
.info-box > a:first-child > img:only-child {
	width: calc(100% + 2 * 80 * var(--variable-px));
	margin-left: calc(-80 * var(--variable-px));
	margin-top: calc(-80 * var(--variable-px));
	margin-bottom: calc(40 * var(--variable-px));
	display: block;
}

h2 ~ img,
h2 ~ a > img:only-child,
h2 ~ a:has(> img:only-child) {
	display: block;
}

:is(a:has(> img:only-child), img) + .info-box {
	margin-top: 0;
	padding-top: calc(40 * var(--variable-px));
}
