.creative-contributions .info-box {
	&:nth-of-type(1) {
		background-color: var(--color-seaside);
	}

	&:nth-of-type(2) {
		background-color: var(--color-cove);
	}
}

.code-contributions .info-box {
	&:nth-of-type(1) {
		background-color: var(--color-mustard);
	}

	&:nth-of-type(2) {
		background-color: var(--color-ale);
	}
}

.creative-contributions,
.code-contributions {
	.button.button.button {
		height: auto;
		text-align: left;
		white-space: normal;
	}
}
