[package]
name = "gpu-executor"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = []

[dependencies]
# Local dependencies
node-macro = { path = "../node-macro" }

# Workspace dependencies
graphene-core = { workspace = true, features = ["std", "alloc", "gpu"] }
graph-craft = { workspace = true }
dyn-any = { workspace = true, features = ["log-bad-types", "rc", "glam"] }
num-traits = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
glam = { workspace = true }
base64 = { workspace = true }
bytemuck = { workspace = true }
anyhow = { workspace = true }
futures = { workspace = true }
web-sys = { workspace = true, features = [
	"HtmlCanvasElement",
	"ImageBitmapRenderingContext",
] }
