[package]
name = "wgpu-executor"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[features]
default = []
profiling = []
passthrough = []

[dependencies]
# Local dependencies
graphene-core = { workspace = true, features = ["wgpu"] }
graphene-application-io = { workspace = true, features = ["wgpu"] }
graphene-svg-renderer = { workspace = true, features = ["vello"] }
dyn-any = { workspace = true }
node-macro = { workspace = true }

# Workspace dependencies
glam = { workspace = true }
anyhow = { workspace = true }
wgpu = { workspace = true }
futures = { workspace = true }
web-sys = { workspace = true }
winit = { workspace = true }
vello = { workspace = true }
bytemuck = { workspace = true }
