[package]
name = "wgpu-executor"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[features]
default = []
profiling = ["nvtx"]
passthrough = []

[dependencies]
# Local dependencies
gpu-executor = { path = "../gpu-executor" }

# Workspace dependencies
graphene-core = { workspace = true, features = ["std", "alloc", "gpu", "wgpu"] }
dyn-any = { workspace = true, features = ["log-bad-types", "rc", "glam"] }
node-macro = { workspace = true }
num-traits = { workspace = true }
log = { workspace = true }
glam = { workspace = true, features = ["serde"] }
base64 = { workspace = true }
bytemuck = { workspace = true }
anyhow = { workspace = true }
wgpu = { workspace = true, features = [
	"spirv",
	"strict_asserts",
] }
spirv = { workspace = true }
futures = { workspace = true }
web-sys = { workspace = true, features = ["HtmlCanvasElement"] }
winit = { workspace = true }
serde = { workspace = true }
vello = { workspace = true }

# Required dependencies
futures-intrusive = { version = "0.5.0", features = ["alloc"] }
half = "2.4.1"

# Optional dependencies
nvtx = { version = "1.3", optional = true }
