[package]
name = "wgpu-executor"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = []
profiling = ["nvtx"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
graphene-core = { path = "../gcore", features = [
	"async",
	"std",
	"alloc",
	"gpu",
] }
graph-craft = { path = "../graph-craft" }
gpu-executor = { path = "../gpu-executor" }
dyn-any = { path = "../../libraries/dyn-any", features = [
	"log-bad-types",
	"rc",
	"glam",
] }
future-executor = { path = "../future-executor" }
num-traits = "0.2"
log = "0.4"
serde = { version = "1", features = ["derive", "rc"], optional = true }
glam = { version = "0.22" }
base64 = "0.13"

bytemuck = { version = "1.8" }
anyhow = "1.0.66"
wgpu = { version = "0.16", features = ["spirv"] }
spirv = "0.2.0"
futures-intrusive = "0.5.0"
futures = "0.3.25"
web-sys = { version = "0.3.4", features = ["HtmlCanvasElement"] }
winit = "0.28.6"
nvtx = { version = "1.1.1", optional = true }
