[workspace]
members = [
	"editor",
	"document-legacy",
	"proc-macros",
	"frontend/wasm",
	"frontend/src-tauri",
	"node-graph/gcore",
	"node-graph/gstd",
	"node-graph/graph-craft",
	"node-graph/interpreted-executor",
	"node-graph/borrow_stack",
	"node-graph/node-macro",
	"node-graph/compilation-server",
	"node-graph/compilation-client",
	"node-graph/vulkan-executor",
	"node-graph/wgpu-executor",
	"node-graph/gpu-executor",
	"node-graph/future-executor",
	"node-graph/gpu-compiler/gpu-compiler-bin-wrapper",
	"libraries/dyn-any",
	"libraries/bezier-rs",
	"website/other/bezier-rs-demos/wasm",
]

resolver = "2"

exclude = ["node-graph/gpu-compiler"]

[workspace.dependencies]
specta = { git = "https://github.com/oscartbeaumont/rspc", rev = "9725ddbfe40183debc055b88c37910eb6f818eae", features = [
	"glam",
] }
xxhash-rust = { version = "0.8.4", features = ["xxh3"] }

[profile.dev.package.graphite-editor]
opt-level = 1

# This is a mitigation for https://github.com/rustwasm/wasm-pack/issues/981
# Which is needed because the node_registry function is too large
[profile.dev.package.interpreted-executor]
opt-level = 1

[profile.dev.package.graphene-core]
opt-level = 1

[profile.dev.package.graphene-std]
opt-level = 1

[profile.dev.package.autoquant]
opt-level = 3

[profile.dev.package.image]
opt-level = 3

[profile.dev.package.xxhash-rust]
opt-level = 3

[profile.dev]
opt-level = 1
