[workspace]
members = [
	"editor",
	"graphene",
	"proc-macros",
	"frontend/wasm",
	"node-graph/gcore",
	"node-graph/gstd",
	"node-graph/borrow_stack",
	"libraries/dyn-any",
	"libraries/bezier-rs",
	"website/other/bezier-rs-demos/wasm",
]

[profile.release.package.graphite-wasm]
opt-level = 3

[profile.dev.package.graphite-wasm]
opt-level = 3

[profile.dev]
opt-level = 3
