[package]
name = "gpu-compiler"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = []
profiling = ["nvtx"]
serde = ["graphene-core/serde", "glam/serde"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
graphene-core = { path = "../gcore", features = ["async", "std", "alloc"] }
graph-craft = {path = "../graph-craft", features = ["serde"] }
dyn-any = { path = "../../libraries/dyn-any", features = ["log-bad-types", "rc", "glam"] }
num-traits = "0.2"
log = "0.4"
serde = { version = "1", features = ["derive", "rc"]}
glam = { version = "0.22" }
base64 = "0.13"

bytemuck = { version = "1.8" }
nvtx = { version = "1.1.1", optional = true }
tempfile = "3"
spirv-builder = { version = "0.4",  default-features = false, features=["use-installed-tools"] }
tera = { version = "1.17.1" }
anyhow = "1.0.66"
serde_json = "1.0.91"
