.demo-artwork {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

	> a {
		flex: 0 0 auto;

		img {
			height: 128px;
			border: 12px solid var(--color-walnut);
			vertical-align: top;
			flex: 0 0 auto;
		}
	}

	p {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		margin-left: 40px;
		text-align: left;
	}
}
