[package]
name = "graph-craft"
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[features]
default = ["dealloc_nodes"]
dealloc_nodes = ["graphene-core/dealloc_nodes"]
wgpu = ["wgpu-executor"]
tokio = ["dep:tokio"]
wayland = []
loading = ["serde_json"]

[dependencies]
# Local dependencies
dyn-any = { workspace = true }
graphene-core = { workspace = true }
graphene-path-bool = { workspace = true }
graphene-brush = { workspace = true }
graphene-application-io = { workspace = true }
graphene-svg-renderer = { workspace = true }
graphene-raster-nodes = { workspace = true }

# Workspace dependencies
log = { workspace = true }
glam = { workspace = true }
bezier-rs = { workspace = true }
specta = { workspace = true }
rustc-hash = { workspace = true }
url = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }

# Optional workspace dependencies
wgpu-executor = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }

# Workspace dependencies
[target.'cfg(target_family = "wasm")'.dependencies]
web-sys = { workspace = true, features = [
	"Navigator",
	"Gpu",
] }
js-sys = { workspace = true }
wasm-bindgen = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
winit = { workspace = true }

[dev-dependencies]
# Workspace dependencies
graph-craft = { workspace = true, features = ["loading"] }
pretty_assertions = { workspace = true }
criterion = { workspace = true }
iai-callgrind = { workspace = true }

# Benchmarks
[[bench]]
name = "compile_demo_art_criterion"
harness = false

[[bench]]
name = "compile_demo_art_iai"
harness = false
