{
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 200,
	"overrides": [
		{
			"files": [
				"*.yml",
				"*.yaml"
			],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
