[package]
name = "vulkan-executor"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
graphene-core = { path = "../gcore", features = ["async", "std", "alloc", "gpu"] }
graph-craft = {path = "../graph-craft" }
dyn-any = { path = "../../libraries/dyn-any", features = ["log-bad-types", "rc", "glam"] }
num-traits = "0.2"
log = "0.4"
serde = { version = "1", features = ["derive", "rc"], optional = true }
glam = { version = "0.22" }
base64 = "0.13"

vulkano = { git = "https://github.com/GraphiteEditor/vulkano", branch = "fix_rust_gpu"}
bytemuck = {version = "1.8"  }
anyhow = "1.0.66"
