@import "_colors.scss";

html,
body,
#app {
	margin: 0;
	height: 100%;
	background: var(--color-2-mildblack);
	overscroll-behavior: none;
	-webkit-user-select: none; // Required as of Safari 15.0 (Graphite's minimum version) through the latest release
	user-select: none;
}

// The default value of `auto` from the CSS spec is a footgun with flexbox layouts:
// https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
* {
	min-width: 0;
	min-height: 0;
}

html,
body,
input,
textarea,
button {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: var(--color-e-nearwhite);
}
