[package]
name = "raw-rs"
version = "0.0.1"
edition = "2021"
authors = ["Graphite Authors <contact@graphite.rs>"]
description = "A library to extract images from camera raw files"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["raw", "tiff", "camera", "image"]
categories = ["multimedia::images", "multimedia::encoding"]
homepage = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
repository = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
documentation = "https://docs.rs/raw-rs"

[features]
raw-rs-tests = ["dep:image", "dep:libraw-rs", "dep:reqwest", "dep:rayon"]

[dependencies]
# Local dependencies
tag-derive = { path = "tag-derive" }
build-camera-data = { path = "build-camera-data" }

# Workspace dependencies
thiserror = { workspace = true }

# Required dependencies
bitstream-io = "2.3.0"
num_enum = "0.7.2"
fortuples = "0.9.1"

# Optional workspace dependencies
image = { workspace = true, optional = true }
reqwest = { workspace = true, optional = true }

# Optional dependencies (should be dev dependencies, but Cargo currently doesn't allow optional dev dependencies)
libraw-rs = { version = "0.0.4", optional = true }
rayon = { version = "1.10.0", optional = true }
