[package]
name = "raw-rs"
version = "0.0.1"
edition = "2021"
authors = ["Graphite Authors <contact@graphite.rs>"]
description = "A library to extract images from camera raw files"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["raw", "tiff", "camera", "image"]
categories = ["multimedia::images", "multimedia::encoding"]
homepage = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
repository = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
documentation = "https://docs.rs/raw-rs"

[features]
raw-rs-tests = ["libraw-rs"]

[dependencies]
# Local dependencies
tag-derive = { path = "tag-derive" }

# Required dependencies
bitstream-io = "2.3.0"
num_enum = "0.7.2"
thiserror = "1.0"

# Optional dependencies
libraw-rs = { version = "0.0.4", optional = true }

[dev-dependencies]
# Required dependencies
downloader = "0.2.7"
