[workspace]
members = ["tag-derive", "build-camera-data"]
resolver = "2"

[workspace.dependencies]
quote = "1.0.37"
syn = "2.0.79"

[package]
name = "raw-rs"
version = "0.0.1"
edition = "2021"
authors = ["Graphite Authors <contact@graphite.rs>"]
description = "A library to extract images from camera raw files"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["raw", "tiff", "camera", "image"]
categories = ["multimedia::images", "multimedia::encoding"]
homepage = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
repository = "https://github.com/GraphiteEditor/Graphite/tree/master/libraries/raw-rs"
documentation = "https://docs.rs/raw-rs"

[features]
raw-rs-tests = ["dep:image", "dep:libraw-rs", "dep:reqwest", "dep:rayon"]

[dependencies]
# Local dependencies
tag-derive = { path = "tag-derive" }
build-camera-data = { path = "build-camera-data" }

# Required dependencies
bitstream-io = "2.5.3"
num_enum = "0.7.3"
thiserror = "1.0.64"

# Optional dependencies (should be dev dependencies, but Cargo currently doesn't allow optional dev dependencies)
image = { version = "0.25.3", optional = true }
reqwest = { version = "0.12.8", optional = true, features = ["blocking"] }
libraw-rs = { version = "0.0.4", optional = true }
rayon = { version = "1.10.0", optional = true }
