[package]
name = "future-executor"
version = "0.1.0"
edition = "2021"
authors = ["Graphite Authors <contact@graphite.rs>"]
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.25"
log = "0.4"

[target.wasm32-unknown-unknown.dependencies]
wasm-rs-async-executor = { version = "0.9.0", features = [
	"cooperative-browser",
	"debug",
	"requestIdleCallback",
] }
wasm-bindgen-futures = "0.4.36"
