[package]
name = "compilation-server"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
axum = "0.7"
serde_json = "1.0"
graph-craft = { version = "0.1.0", path = "../graph-craft", features = [
	"serde",
] }
gpu-compiler-bin-wrapper = { version = "0.1.0", path = "../gpu-compiler/gpu-compiler-bin-wrapper" }
serde = { version = "1.0", features = ["derive"] }
tempfile = "3.6.0"
anyhow = "1.0.72"
futures = "0.3"
tower-http = { version = "0.5", features = ["cors"] }
