html,
body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: white;
}

body > h1 {
	margin: 40px 0;
}

body > h1 ~ :last-child {
	margin-bottom: 40px;
}

body > h1 + p {
	max-width: 768px;
	line-height: 1.4;
	margin: auto;
	text-align: justify;
}

body > h2 {
	margin-top: 40px;
}

/* Demo Pane styles */
.demo-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.t-variant-choice {
	margin-top: 20px;
}

.demo-pane-header {
	display: inline-block;
	position: relative;
	margin-top: 2em;
	margin-bottom: 0;
	padding: 0 1em;
}

.demo-pane-header a {
	display: none;
	position: absolute;
	left: 0;
	text-decoration: none;
	color: inherit;
	opacity: 0.5;
}

.demo-pane-header:hover a {
	display: inline-block;
}

.demo-pane-container {
	position: relative;
	width: fit-content;
	margin: auto;
}

/* Demo styles */
.demo-header {
	margin: 20px 0;
}

.demo-figure {
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	border: solid 1px black;
}
