/* Example styles */
.example-header {
	margin-bottom: 0;
	margin-top: 0.75em;
}

.example-figure {
	border: solid 1px black;
	width: 200px;
	height: 200px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

/* Example Pane styles */
.example-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.example-pane-header {
	margin-top: 2em;
	margin-bottom: 0;
}

.example-pane-container {
	position: relative;
	width: fit-content;
	margin: auto;
}

.euclidean-switch {
	position: absolute;
	top: 0em;
	right: 2.5em;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
}

.switch-label {
	font-size: 14px;
	padding-right: 0.5em;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 16px;
}

.switch-slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .switch-slider {
	background-color: #2196f3;
}

input:focus + .switch-slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .switch-slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}
