[package]
name = "graphite-desktop-platform-linux"
version = "0.0.0"
description = "Graphite Desktop Platform Linux"
authors = ["Graphite Authors <contact@graphite.art>"]
license = "Apache-2.0"
repository = ""
edition = "2024"
rust-version = "1.87"

[[bin]]
name = "graphite"
path = "src/main.rs"

[dependencies]
graphite-desktop = { path = "../.." }
