[package]
name = "node-macro"
publish = false
version = "0.0.0"
rust-version = "1.88"
authors = ["Graphite Authors <contact@graphite.rs>"]
edition = "2024"
readme = "../../README.md"
homepage = "https://graphite.rs"
repository = "https://github.com/GraphiteEditor/Graphite"
license = "Apache-2.0"

[lib]
proc-macro = true

[dependencies]
# Workspace dependencies
syn = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
convert_case = { workspace = true }
strum = { workspace = true }

indoc = "2.0.5"
proc-macro-crate = "3.1.0"
proc-macro-error2 = "2"

[dev-dependencies]
graphene-core = { workspace = true }
graphene-core-shaders = { workspace = true }
