[package]
name = "node-macro"
publish = false
version = "0.0.0"
rust-version = "1.70.0"
authors = ["Graphite Authors <contact@graphite.rs>"]
edition = "2021"
readme = "../../README.md"
homepage = "https://graphite.rs"
repository = "https://github.com/GraphiteEditor/Graphite"
license = "Apache-2.0"

[lib]
proc-macro = true

[dependencies]
# Workspace dependencies
syn = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
