{% extends "base.html" %}
{% block title %}Page not found.{% endblock title %}

{% block content %}
<section id="404" class="section-row right">
	<div class="section">
		<h2>Page not found (yet).</h2>
		<p>
			While the home page is now online to get early feedback pending the full site launch, the remaining pages are still actively under construction.
		</p>
		<p>
			Please check back in a few days!
		</p>
		<a href="/" class="link arrow">Home Page</a>
	</div>
</section>
{% endblock content %}
