<!DOCTYPE html>
<html lang="en-US">
<head>
	{%- block head -%}{%- endblock head -%}
	{%- set page = page | default(value = section | default(value = false)) -%}
	<meta charset="utf-8">
	<title>Graphite | {{ title | safe }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1">
	{% if current_path -%}
	<meta property="og:url" content="https://graphite.rs{{ current_path | safe }}">
	{%- endif %}
	{% if meta_description -%}
	<meta name="description" content="{{ meta_description | safe }}">
	<meta property="og:description" content="{{ meta_description | safe }}" />
	<meta name="twitter:description" content="{{ meta_description | safe }}" />
	{%- endif %}
	<meta property="og:image" content="{{ meta_image | default(value = 'https://static.graphite.rs/logos/splash.png' | safe) | safe }}">
	<meta name="twitter:image" content="{{ meta_image | default(value = 'https://static.graphite.rs/logos/splash.png' | safe) | safe }}" />
	<meta property="og:title" content="{{ meta_title | default(value = title | safe) | safe }}">
	<meta name="twitter:title" content="{{ meta_title | default(value = title | safe) | safe }}" />
	<meta property="og:type" content="{% if meta_article_type %}article{% else %}website{% endif %}" />
	<meta property="og:site_name" content="Graphite" />
	<meta name="twitter:site" content="@GraphiteEditor" />
	<meta name="twitter:card" content="summary_large_image" />
	{% block rss -%}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path = 'blog/rss.xml', trailing_slash = false) | safe }}">
	{%- endblock %}
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=EB+Garamond:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/base.css">
	<link rel="stylesheet" href="/syntax-highlighting.css">
	{%- set extra_css = page.extra.css | default(value = []) | concat(with = css | default(value = [])) -%}
	{% for css_path in extra_css %}
	<link rel="stylesheet" href="/{{ css_path | safe }}">
	{% endfor %}
	{%- set extra_js = page.extra.js | default(value = []) | concat(with = js | default(value = [])) -%}
	{% for js_path in extra_js %}
	<script src="/js/{{ js_path | safe }}"></script>
	{% endfor %}
	<script src="/js/text-justification.js"></script>
	<script src="/js/navbar.js"></script>
	<!-- INDEX_HTML_HEAD_REPLACEMENT -->
	<style>
	.balance-text {
		visibility: hidden;
	}

	@media (scripting: none) {
		.balance-text {
			visibility: visible !important;
		}
	}

	@supports (text-wrap: balance) {
		.balance-text,
		.balanced-text {
			text-align: left;
			text-wrap: balance;
			visibility: visible;
		}
	}
	</style>
</head>
<body>
	<div class="page">
		<header>
			<nav>
				<div class="row">
					<div class="left">
						<a href="/">
							<img src="https://static.graphite.rs/logos/graphite-logo-solid.svg" alt="Graphite Logo" />
						</a>
					</div>
					<div class="right">
						<a href="/learn">Learn</a>
						<a href="/features">Features</a>
						<a href="/about">About</a>
						<a href="/blog">Blog</a>
						<a href="/volunteer">Volunteer</a>
						<a href="/donate">Donate</a>
						<a href="https://editor.graphite.rs" class="button arrow">Launch</a>
					</div>
				</div>
			</nav>
			<svg class="ripple" xmlns="http://www.w3.org/2000/svg">
				<path d="M 0,15 l 10000,0" />
			</svg>
			<hr />
		</header>
		<main>
			<div class="content">
				{%- block content -%}{%- endblock -%}
			</div>
		</main>
		<footer>
			<hr />
			<nav class="balance-text require-polyfill">
				<a href="https://github.com/GraphiteEditor/Graphite/graphs/contributors" class="link not-uppercase">Credits</a>
				<a href="/license" class="link not-uppercase">License</a>
				<a href="/logo" class="link not-uppercase">Logo</a>
				<a href="/press" class="link not-uppercase">Press</a>
				<a href="/contact" class="link not-uppercase">Contact</a>
			</nav>
			<span>Copyright &copy; {{ now() | date(format = "%Y") }} Graphite Labs, LLC</span>
		</footer>
	</div>
	<script src="https://static.graphite.rs/text-balancer/text-balancer.js"></script>
</body>
</html>
