{% extends "base.html" %}
{% block title %}{{ section.title }}.{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/blog.css">
{% endblock head %}

{% block content %}
<section id="intro" class="section-row">
	<div class="section">
		<h1>{{ section.title }}.</h1>
		<div class="left-right-split">
			<p>Latest news and articles from the Graphite team.</p>
			<p class="feed">
				<a href="/blog/rss.xml">
					<img class="icon" src="images/icons/feed.svg" alt="RSS" />
					<span class="link arrow">RSS Feed</span>
				</a>
			</p>
		</div>
	</div>
</section>
<section id="articles" class="section">
	{% for page in section.pages %}
	<article>
		<div class="banner">
			<a href="{{ page.permalink | safe }}"><img src="/blog/{{ page.extra.banner }}" /></a>
		</div>
		<div class="details">
			<div class="headline">
				<h2><a href="{{ page.permalink | safe }}">{{ page.title }}.</a></h2>
			</div>
			<span class="publication">By {{ page.extra.author }}. {{ page.date | date(format="%B %d, %Y", timezone="America/Los_Angeles") }}.</span>
			<div class="summary">
				{{ page.summary | safe }}
			</div>
			<div class="keep-reading">
				<a href="{{ page.permalink | safe }}" class="link arrow">Keep Reading</a>
			</div>
		</div>
	</article>
	{% endfor %}
</section>
{% endblock content %}
