.logo-view {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 20px;
	width: 100%;

	.group {
		display: flex;
		background-image: url("images/textures/noise.png");
		background-position: center;
		width: 100%;
		margin-left: calc(-1 * ((100vw - 100%) / 2));
		padding: 0 calc((100vw - 100%) / 2);
		
		@media screen and (max-width: 1000px) {
			&.feature-box.feature-box {
				margin-left: -40px;
				margin-right: -40px;
			}
		}

		div {
			display: flex;
			flex-direction: column;
			padding: 80px;
		}

		&.color {
			background-color: var(--color-manilla);
			background-blend-mode: hard-light;
		}

		&.dark {
			color: var(--color-fog);
			background-color: var(--color-navy);
			background-blend-mode: soft-light;

			a {
				color: var(--color-mustard);
			}
		}

		&.light {
			background-color: var(--color-fog);
			background-blend-mode: color-burn;
		}

		span {
			font-weight: 800;
			margin-top: 20px;
			white-space: nowrap;
		}

		a {
			white-space: nowrap;
		}
	}

	+ h3 {
		margin-top: 20px;
	}
}
