name: "CI"

on:
  pull_request: {}
  merge_group: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  # Fast linting job on GitHub runner
  web-lint:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Clone and checkout repository
        uses: actions/checkout@v3

      - name: 游뚽 Check if CI can be skipped
        id: skip-check
        uses: cariad-tech/merge-queue-ci-skipper@main

      - name: 游릭 Install the latest Node.js
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: 游뚾 Install dependencies
        if: steps.skip-check.outputs.skip-check != 'true'
        run: |
          cd frontend
          npm ci

      - name: 游녯 Lint Graphite web formatting
        if: steps.skip-check.outputs.skip-check != 'true'
        env:
          NODE_ENV: production
        run: |
          cd frontend
          npm run lint

  # Rust format check on GitHub runner
  rust-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Clone and checkout repository
        uses: actions/checkout@v3

      - name: 游뚽 Check if CI can be skipped
        id: skip-check
        uses: cariad-tech/merge-queue-ci-skipper@main

      - name: 游 Install the latest Rust
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: 游댧 Check Rust formatting
        if: steps.skip-check.outputs.skip-check != 'true'
        run: cargo fmt --all -- --check

  # License compatibility check on GitHub runner
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Clone and checkout repository
        uses: actions/checkout@v3

      - name: 游닆 Check crate license compatibility for root workspace
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check bans licenses sources

      - name: 游닆 Check crate license compatibility for /libraries/rawkit
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check bans licenses sources
          manifest-path: libraries/rawkit/Cargo.toml

  # Web build on GitHub runner (only compiles WASM crate)
  web-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: 游닌 Clone and checkout repository
        uses: actions/checkout@v3

      - name: 游뚽 Check if CI can be skipped
        id: skip-check
        uses: cariad-tech/merge-queue-ci-skipper@main

      - name: 游릭 Install the latest Node.js
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: 游 Install the latest Rust
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: 游닍 Setup cargo-binstall
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: cargo-bins/cargo-binstall@main

      - name: 游닍 Install wasm-pack and cargo-about
        if: steps.skip-check.outputs.skip-check != 'true'
        run: cargo binstall --no-confirm --force wasm-pack cargo-about

      - name: 游닍 Install wasm-opt (binaryen)
        if: steps.skip-check.outputs.skip-check != 'true'
        run: sudo apt-get update && sudo apt-get install -y binaryen

      - name: 游뚾 Install build dependencies
        if: steps.skip-check.outputs.skip-check != 'true'
        run: |
          cd frontend
          npm run setup

      - name: 游깷 Build Graphite web code
        if: steps.skip-check.outputs.skip-check != 'true'
        env:
          NODE_ENV: production
        run: |
          cd frontend
          npm run build

      - name: 游닋 Publish to Cloudflare Pages
        if: steps.skip-check.outputs.skip-check != 'true'
        uses: cloudflare/pages-action@1
        continue-on-error: true
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: graphite-dev
          directory: frontend/dist

  # Full Rust build and tests on self-hosted runner
  rust-build-and-test:
    runs-on: self-hosted
    env:
      RUSTC_WRAPPER: /usr/bin/sccache
      CARGO_INCREMENTAL: 0
      SCCACHE_DIR: /var/lib/github-actions/.cache

    steps:
      - name: 游닌 Clone and checkout repository
        uses: actions/checkout@v3

      - name: 游뚽 Check if CI can be skipped
        id: skip-check
        uses: cariad-tech/merge-queue-ci-skipper@main

      - name: 游 Install the latest Rust
        if: steps.skip-check.outputs.skip-check != 'true'
        run: |
          rustup update stable

      - name: 游 Fetch Rust dependencies
        if: steps.skip-check.outputs.skip-check != 'true'
        run: |
          cargo fetch --locked

      # - name: 游 Build Rust code
      #   if: steps.skip-check.outputs.skip-check != 'true'
      #   env:
      #     RUSTFLAGS: -Dwarnings
      #   run: |
      #     mold -run cargo build --all-features

      - name: 游빍 Run Rust tests
        if: steps.skip-check.outputs.skip-check != 'true'
        env:
          RUSTFLAGS: -Dwarnings
        run: |
          mold -run cargo test --all-features
